@page
@model KahootTransnetBW.Pages.Admin.UserModel
@{
    ViewData["Title"] = "Admin Dashboard - User";
}

<!-- Menu zu den verschiednen Punkten -->
<link rel="stylesheet" href="~/css/Admin/Dashboard.css" asp-append-version="true" />

<header class="header">
    <h1>Admin Dashboard</h1>
    <nav class="nav-links">
        <a href="/Admin/User">User</a>
        <a href="/Admin/Frageboegen">Fragebögen</a>
        <a href="/Admin/FrageboegenErstellen">Neue anlegen</a>
        <a href="/Index">Quit</a>
    </nav>
</header>

<!-- Info Bereich -->
<div class="main-content" id="users">
    <h2>User</h2>
    <p>Hier kannst du Benutzer verwalten und deren Rollen einsehen oder ändern.</p>
</div>

<br />
<br />

<!-- Ausgabe User -->
<table style="width: 100%; border-collapse: collapse;">
    <thead style="background-color: #00c896; color: white;">
        <tr>
            <th style="padding: 10px; border: 1px solid #ccc;">ID</th>
            <th style="padding: 10px; border: 1px solid #ccc;">Benutzername</th>
            <th style="padding: 10px; border: 1px solid #ccc;">Passwort</th>
            <th style="padding: 10px; border: 1px solid #ccc;">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UserList)
        {
            <tr style="background-color: #06666f; color: white;">
                <td style="padding: 10px; border: 1px solid #ccc;">@user.ID</td>
                <td style="padding: 10px; border: 1px solid #ccc;">@user.Username</td>
                <td style="padding: 10px; border: 1px solid #ccc;">@user.Password</td>
                <td style="padding: 10px; border: 1px solid #ccc;">@user.Role</td>
            </tr>
        }
    </tbody>
</table>

<!-- Neuen Benutzer anlegen  => Nur sichtbar für Admins -->
<div class="main-content">
    <h2>Neuen Benutzer anlegen</h2>

    <form method="post">
        <label>Benutzername:</label>
        <input type="text" asp-for="Username" />

        <label>Passwort:</label>
        <input type="password" asp-for="Password" />

        <label>Rolle wählen:</label>
        <select asp-for="Role">
            <option value="">Bitte wählen</option>
            <option value="Admin">Admin</option>
            <option value="Creater">Creater</option>
        </select>

        <button type="submit">Benutzer speichern</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p class="message">@Model.Message</p>
    }
</div>
