@page
@model KahootTransnetBW.Pages._1Viewer.FinalResultModel
@{
    ViewData["Title"] = "Kahoot | How is the best";
}

<link rel="stylesheet" href="~/css/Playground/GrundViewer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Playground/FinalResult.css" asp-append-version="true" />

<header class="header">
    <div class="logo">TRANS<span>NET</span> BW</div>
    <nav class="nav-links">
        <a href="/Index">Quit</a>
    </nav>
</header>


<div class="podium-container">
    <h1 class="podium-title">Siegerehrung</h1>

    <div class="podium">

        <div class="place">
            <div class="platform second">2</div>
            <div class="winner-name">
                <div class="winner-title">Zweiter Platz</div>
                Test2
            </div>
        </div>

        <div class="place">
            <div class="platform first">1</div>
            <div class="winner-name">
                <div class="winner-title">Gewinner</div>
                Test1
            </div>
        </div>

        <div class="place">
            <div class="platform third">3</div>
            <div class="winner-name">
                <div class="winner-title">Dritter Platz</div>
                Test3
            </div>
        </div>
    </div>
</div>


<table class="survey-table">
    <thead>
        <tr>
            <th>Punkte</th>
            <th>Name</th>
            <th>Statistik</th>
            <th>Erstellt am</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in Model.Player)
        {
            <tr>
                <td>@list.Points</td>
                <td>@list.Nickname</td>
                <td>@list.korrekteFagen / @list.alleFragen</td>
                <td>@list.Time.ToString("dd.MM.yyyy HH:mm")</td>

            </tr>
        }
    </tbody>
</table>

<!-- hier sollte ein diagam rein an dem wir sehen wer die meisten punkte hat und in welchem rahmen mit vlt einem filter im nächsten monat und vlt von heute  -->